body{
    background-color: #cbe8ee;
}
.adjustSelf{
    position: relative;
    left: 7%;   
}
.adjustCollege{
    position: relative;
    left: 7%; 
}
/* div{
    background-color: black;
    width: 100%;

} */
.footPart-rightSide{
    position: relative;
    padding-right: 0 20px;
    margin-right: 20px;
    left: 180px;
}
hr{
    background-color: rgb(39, 37, 142);
    border-style: dotted;
    height: 0%;
    width: 100%;
}
h2{
    color: blue;
}
em{
    color: blue;
}
.profile{
    position: absolute;
    width: 14%;
    left: 73%;
    top: 3%;
}
h1{
    font-size: 40px;
}
.footPart-leftSide{
    position: relative;
    top:0%;
    padding: 0 13px;
    bottom: 43px;
    
}
.social{
    color: white;
    background-color: black;
    padding: 17px 150px;
    display: flex;

}
.btn {
    background: blue;
    background-image: -webkit-linear-gradient(top, blue, #922bb8);
    background-image: -moz-linear-gradient(top, blue, #922bb8);
    background-image: -ms-linear-gradient(top, blue, #922bb8);
    background-image: -o-linear-gradient(top, blue, #922bb8);
    background-image: linear-gradient(to bottom, blue, #922bb8);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    text-shadow: 1px 1px 3px #666666;
    font-family: serif;
    color: #ffffff;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    border: solid #ffffff 1px;
    text-decoration: none;
    color:  #ffffff;
   font-family: serif;
   font-size: 20px;
  }
  .contact{
    text-align: center; 
    margin: auto;   
  }
  
  .btn:hover {
    background: #3ca8fa;
    background-image: -webkit-linear-gradient(top, #3ca8fa, #344dd9);
    background-image: -moz-linear-gradient(top, #3ca8fa, #344dd9);
    background-image: -ms-linear-gradient(top, #3ca8fa, #344dd9);
    background-image: -o-linear-gradient(top, #3ca8fa, #344dd9);
    background-image: linear-gradient(to bottom, #3ca8fa, #344dd9);
    text-decoration: none;
  }
.anchor1{
   color:  #ffffff;
   font-family: serif;
   font-size: 20px;
   text-align: left;
   text-decoration: none;
}
.anchor1:hover{
    color: #344dd9;
}
.anchor2{
    color:  #ffffff;
    font-family: serif;
    text-align: right;
    font-size: 20px;
    text-decoration: none;
 }
.anchor2:hover{
    color: #344dd9;
}
.top-gap{
    margin-top: 80px;
}
.drawing{
    text-decoration: solid;
    text-decoration-color: #100cd3;
    color: blue;
}
.drawing:hover{
    color: #db04d1;
}
.creative{
    position:relative;
    left:40%;
    font-size: 40px;
    font-family: cursive;
    text-align: center;
}

@media screen and (max-width: 600px){
    .adjustSelf{
        text-align: center;
        top: 160px;
        left:20px;
        font-size: 35px;
    }
    .adjustCollege{
        text-align: center;
        top: 145px;
        font-size: 18px;
        font-family: serif;
        font-weight: lighter;
    }
    .profile{
        width: 180px;
        display: flex;
        left: 35%;
    }
    .top-gap{
        margin-top: 175px;
    }
    .social{
        padding: 17px 50px;
        display: flex;
    
    }
    .footPart-leftSide{
        display: contents;

    }
    .footPart-rightSide{
        display: contents;
    }
    
}
